.sign-up {
	grid-column: content-start/content-end;
	grid-row: content-start/content-end;
}

.sign-up-form {
	display: grid;
	grid-template-columns: [start] 1fr [input-start] 62.9rem [input-end] 1fr [end];
	justify-items: center;

	.fullName, .unit, .email, .password, .text-links {
		grid-column: input-start/input-end;
	}
	.fullName {
		margin-top: 7.7rem;
	}
	
	.unit,
	.email,
	.password {
		margin-top: 4.4rem;
	}

	.form-title {
		width: 100%;
		margin-top: 6.6rem;
		grid-column: start/end;
	}

	.createAccount {
		margin-top: 8.8rem;
	}

	.text-links {
		margin-top: 5.2rem;
	}
}
