// INPUT
.form-input, .form-textarea {

	display: grid;
	// grid-template-columns: 12.9rem 50rem;
	grid-template-columns: 3fr 10fr;
	grid-template-rows: 1fr;

	align-items: center;
	
	width: 100%;

	&-title {
		grid-column: 1/2;
		grid-row: 1;
	}

	input {
		grid-column: 2/3;
		grid-row: 1;
	}
}

.form-input,
.form-textarea {
	&-title {
		color: $red;
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 2.3rem;
	}

	input, textarea {
			height: 4rem;
			width: 100%;
			border: 1px solid $bright-grey;
			border-radius: 0.5rem;
			padding-left: 2rem;
			font-size: 1.6rem;
			font-weight: 500;
	
			font-family: inherit;
	}
}

.form-textarea {
	&-title {
		align-self: start;
	}
	
	textarea {
		height: 35.5rem;
		resize: none;
		padding-top: 1rem;
	}
}
// BUTTON
.form-button {
	button {
		height: 4rem;
		width: 21.6rem;
		border-radius: 2rem;
		background-color: $red;

		color: white;
		font-size: 2.2rem;
		line-heigth: 2.8rem;
		font-weight: 500;
		text-align: center;

		border: none;
	}
}
