// INPUT
.form-input, .form-textarea {

	display: grid;
	// grid-template-columns: 12.9rem 50rem;
	grid-template-columns: 3fr 10fr;
	grid-template-rows: 1fr;

	align-items: center;
	
	width: 100%;

	&-title {
		grid-column: 1/2;
		grid-row: 1;
	}

	input {
		grid-column: 2/3;
		grid-row: 1;
	}
}

.form-input,
.form-textarea {
	&-title {
		@include redTitle;
	}

	input, textarea {
			height: 4rem;
			width: 100%;
			border: 1px solid $bright-grey;
			border-radius: 0.5rem;
			padding-left: 2rem;
			font-size: 1.6rem;
			font-weight: 500;
	
			font-family: inherit;
	}
}

.form-textarea {
	&-title {
		align-self: start;
	}
	
	textarea {
		height: 35.5rem;
		resize: none;
		padding-top: 1rem;
	}
}
// BUTTON
.form-button,
.form-button-small,
.form-image {
	button,
	&-replace {
		transition: all 0.2s ease;
		transform: scale(1);
		&:focus {
			outline: none;
		}
		&:active {
			transform: scale(0.95); // translateY(2.05px);
		}
	}
}

.form-button {
	button {
		height: 4rem;
		width: 21.6rem;
		border-radius: 2rem;
		background-color: $red;

		color: white;
		font-size: 2.2rem;
		line-heigth: 2.8rem;
		font-weight: 500;
		text-align: center;

		border: none;
	}
	
	&-small {
		button {
			background-color: white;
			border: 0.1rem solid $grey;
			border-radius: 1.6rem;
			// width: 7.4rem;
			width: 13rem;
			height: 2.4rem;
			font-size: 1.4rem;
			line-height: 1.7rem;
			text-align: center;
		}
		
		&.alternative {
			button {
				border: 0.1rem solid $red;
				color: white;
				background-color: $red;
			}
		}
	}
	
}

// IMAGE
.form-image {
	display: grid;
	grid-template-columns: [start] 16rem [end];
	grid-template-rows: [title-start] 1fr [title-end image-start] 13.7rem [image-end];
	
	& > * {
		grid-column: start/end;
	}
	
	&-title {
		grid-row: title-start/title-end;
		@include redTitle;
		margin-bottom: 2rem;
	}
	
	&-replace {
		grid-row: image-start/image-end;
		justify-self: center;
		align-self: center;
		
		background-color: white;
		border: 0.1rem solid white;
		border-radius: 1.6rem;
		
		width: 13rem;
		height: 2.4rem;
		
		color: $red;
		font-size: 1.4rem;
		line-height: 1.7rem;
		text-align: center;
	}
	
	img {
		grid-row: image-start/image-end;
		background-color: $bright-grey;
		height: 13.7rem;
		width: 16rem;
		object-fit: cover;
	}
}