*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; // 10px
}

body {
	font-family: $encode;
	font-weight: 400;
	color: $grey;
}

.app-wrapper {
	width: 100vw;
	height: 100vh;

	display: grid;
	grid-template-rows: [page-start header-start] 13.6rem [header-end bar-start] 4rem [bar-end content-start] 1fr [content-end page-end];
	grid-template-columns: [page-start] 14rem [content-start] 1fr [content-end] 14rem [page-end];
}

.bar {
	height: 4rem;
	background-color: $light-grey;
	grid-column: page-start/page-end;
	grid-row: bar-start/bar-end;
}
