header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: [title-start] 3rem [title-end subtitle-start] 2rem [subtitle-end];

	.title {
		grid-column: 1/-1;
		grid-row: title-start/title-end;
	}

	.subtitle {
		grid-column: 1/-1;
		grid-row: subtitle-start/subtitle-end;
	}
}

header {
	padding-top: 4rem;

	.title {
		font-size: 2.4rem;
		font-weight: 500;
		line-height: 3rem;
	}

	.subtitle {
		color: $red;
		font-size: 1.6rem;
		font-weight: 300;
		line-height: 2rem;
	}
}
