.newsletter-grid {
  grid-row: content-start/content-end;
  justify-content: center;
  margin-top: 4.7rem;
  
  display: grid;
  // newsletter has px width due to image size
  grid-template-columns: [aside-start] 16rem [aside-end newsletter-start] 960px [newsletter-end];
  grid-template-rows: [content-start box-start] 16rem [box-end archive-start] 1fr [archive-end content-end];
  
  grid-row-gap: 3.85rem;
  grid-column-gap: 6.85rem;
  
}