.newsletterLatest {
  grid-column: newsletter-start/newsletter-end;
  grid-row: content-start/content-end;
  
  display: grid;
  grid-template-columns: [content-start] 1fr [content-end];
  // heading has px height due to image size
  grid-template-rows: [heading-start] 258px [heading-end body-start] 1fr [body-end];
  
  border: 0.1rem solid $bright-grey;
  border-radius: 0.5rem;
  
  & > * {
    grid-column: content-start/content-end;
  }
  
  &-title, &-image {
    grid-row: heading-start/heading-end;
    justify-self: center;
    align-self: center;
  }
  
  &-title {
    color: white;
    font-size: 4rem;
    font-weight: 500;
    line-height: 5rem;
    text-align: center;
  }
  
  &-image {
    z-index: -1;
  }
  
  &-body {
    grid-row: body-start/body-end;
    
    p {
      margin: 6.3rem 6.05rem;
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }
  
  &-editButton {
    grid-column: content-start/content-end;
    grid-row: heading-start/heading-end;
    
    justify-self: end;
    align-self: end;
  }
}