.sign-in {
	grid-column: content-start/content-end;
	grid-row: content-start/content-end;
}

.sign-in-form {
	display: grid;
	justify-items: center;

	.form-title {
		width: 100%;
		margin-top: 6.6rem;
	}

	.email {
		margin-top: 7.7rem;
	}

	.password {
		margin-top: 4rem;
	}

	.login {
		margin-top: 8.8rem;
	}

	.text-links {
		margin-top: 5.2rem;
	}
}
