.tabNav {
  display: grid;
  grid-template-rows: [tabs-start] 5rem [tabs-end content-start] 1fr [content-end];
  
  
  nav {
    grid-row: tabs-start/tabs-end;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: [start] 1fr [middle] 1fr 1fr [end];
    grid-auto-flow: column;
    justify-tiems: center;
    align-items: center;
    justify-content: center;
    
    grid-column-gap: 4.6rem;
    
    border-bottom: 0.1rem solid $bright-grey;
  }
  
  .tab {
    grid-row: middle/end;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    text-align: center;
    
    height: 100%;
    width: 9rem;
    
    border-bottom: 0.2rem solid transparent;
    
    &.active {
      color: $red;
      border-bottom: 0.2rem solid $red;
    }
  }
}