$border-size: 0.15rem;
$border-style: $border-size solid $red;

.actionBox {
  height: 16rem;
  width: 16rem;
  border: $border-style;
  border-radius: 0.5rem;
  
  color: $red;
  display: grid;
  grid-template-rows: 8.1rem 2.3rem;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  
  &:hover {
    &.active, &.inactive { // added to increase specificity
      border-color: $red;
      background-color: white;
      
      .count {
        transform: translateX(10rem);
        opacity: 0;
      }
      
      .icon {
        transform: translateX(0rem);
        opacity: 1;
      }
      
      .title {
        color: $red;
      }
      
      &::after {
        display: none;
      }
    }
  }
  
  .count, .icon {
    transition: all 0.2s ease;
    
    grid-column: 1/-1;
    grid-row: 1/2;
    
    align-self: end;
    font-size: 7rem;
    line-height: 8.1rem;
    margin-bottom: 1rem;
  
    transform: translateX(0rem);
  }
  
  .icon {
    transform: translateX(-10rem);
    opacity: 0;
    font-size: 5rem;
  }
  
  .title {
    grid-column: 1/-1;
    grid-row: 2/3;
    
    align-self: start;
    font-size: 2rem;
    line-height: 2.3rem;
  }
  
  &::after { // point
    grid-column: 1/-1;
    grid-row: 1/-1;
    
    content: '';
    height: 4rem;
    width: 4rem;
    background-color: white;
    
    justify-self: end;
    align-self: center;
    
    transform: translateX(52%) rotate(45deg);
    
    border: $border-style;
    border-bottom: none;
    border-left: none;
  }
  
  &.active {
    background-color: $red;
    border-color: $red;
    
    .count, .title {
      color: white;
    }
    
    &::after {
      background-color: $red;
    }
  }
  
  &.inactive {
    border-color: $bright-grey;
    
    .count, .title {
      color: $grey;
    }
    
    &::after {
      display: none;
    }
  }
}
