.requestsItem {
  display: grid;
  grid-template-columns: [start icon-start] 10rem [icon-end title-start description-start] 1fr [title-end arrow-start] 6.8rem [arrow-end date-start] 10rem [date-end description-end end] 6rem;
  grid-template-rows: [start title-start] 3.4rem [title-end tenant-start] 3.4rem [tenant-end description-start] 1fr [description-end end];

  align-items: center;
  
  .icon {
    grid-column: icon-start/icon-end;
    grid-row: title-start/tenant-end;
    justify-self: center;
  }
  
  .title {
    grid-column: title-start/title-end;
    grid-row: title-start/title-end;
    align-self: end;
    
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  
  .tenant-unit {
    grid-column: title-start/title-end;
    grid-row: tenant-start/tenant-end;
    align-self: start;
  }
  
  .date {
    grid-column: date-start/date-end;
    grid-row: title-start/title-end;
    text-align: right;
  }
  
  .move {
    grid-column: date-start/date-end;
    grid-row: title-start/title-end;
    justify-self: end;
  }
  
  .description {
    grid-column: description-start/description-end;
    grid-row: description-start/description-end;
    
    .itemDescription {
      display: grid;
      grid-column-gap: 4rem;
      grid-auto-flow: column;
    }
  }

}

.requestsItem {
  padding: 0.6rem 0;
  
  &:hover {
    background-color: $alt-grey;
  }
  
  .icon {
    font-size: 2.7rem;
  }
  
  .title {
    p {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 2.3rem;
      margin-right: 2.5rem;
    }
    
    .arrow {
      color: $grey;
      font-size: 3rem;
    }
  }
  
  .tenant-unit {
    color: $red;
    font-family: $encode-condensed;
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  
  .date {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  
  .move {
    
  }
  
  .itemDescription {
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    img {
      object-fit: cover;
    }
    
    p {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
  }

}