.newNewsletter {
  grid-column: content-start/content-end;
  grid-row: content-start/content-end;
}

.newNewsletter-form {
	display: grid;
	grid-template-columns: [start input-start] 102rem [input-end] 1fr [end];
	// grid-template-rows: 1fr 1fr 1fr;
	justify-items: center;

	.form-title {
		width: 100%;
		margin-top: 6.6rem;
		grid-column: start/end;
		grid-row: 1;
	}

	.newsletter-title, .body {
		grid-column: input-start/input-end;
	}
	
	.newsletter-title {
		margin-top: 4.1rem;
	}
	
	.body {
		margin-top: 2rem;
		grid-row: 3;
	}
	
	.submit, .cancel {
		grid-column: 1/-1;
		grid-row: 1/-1;
		justify-self: end;
		align-self: end;
		
		margin-left: 0.2rem;
		margin-bottom: 1.2rem;
	}
	
	.cancel {
		transform: translateX(-15rem);
	}
	
	.image {
		grid-column: start;
		grid-row: 3;
		align-self: end;
		justify-self: start;
	}
}
