.newNewsletter {
  grid-column: content-start/content-end;
  grid-row: content-start/content-end;
}

.newNewsletter-form {
	display: grid;
	grid-template-columns: [start input-start] 102rem [input-end] 1fr [end];
	justify-items: center;

	.form-title {
		width: 100%;
		margin-top: 6.6rem;
		grid-column: start/end;
	}

	.newsletter-title, .body {
		grid-column: input-start/input-end;
	}
	
	.newsletter-title {
		margin-top: 4.1rem;
	}
	
	.body {
		margin-top: 2rem;
	}
}
